<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Add Role</title>
</head>
<body>

<form th:object="${role}" th:action="@{save}" action="#" th:method="post">
    <input type="hidden" th:field="*{id}"/>
    <label th:text="name" th:for="name"/>
    <input th:field="*{name}" type="text"/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Role Error</span>
    <br/>
    <label th:text="active" th:for="active"/>
    <input th:field="*{active}" type="text"/><br/>
    <input type="submit" value="Save" />
</form>

</body>
</html>